target/
*.class
*.jar
*.war
*.log

.idea/
*.iml
.settings/
.project
.classpath
.settings/
.metadata/

log/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

*.log
logs/

*.pid
*.seed
*.pid.lock

application-local.yml
application-dev.yml
application-prod.yml
!application.yml
!application-docker.yml

test-output/
target/